{% extends "!layout.html" %}

{% block extrahead %}
{{ super() }}
{%- if not embedded %}
<style type="text/css">
  table.right { float: right; margin-left: 20px; }
  table.right td { border: 1px solid #ccc; }
</style>
{%- endif %}
{% endblock %}

{% block rootrellink %}
        <li><a href="{{ pathto('index') }}">Home</a>|&nbsp;</li>
        <li><a href="{{ pathto('search') }}">Search</a>|&nbsp;</li>
        <li><a href="{{ pathto('contents') }}">Documentation</a>
          &raquo;</li>
{% endblock %}

{% block header %}
<div style="background-color: white; text-align: left; padding: 10px 10px 15px 15px">
<a href="{{ pathto('index') }}"><h1>CHARMM</h1></a>
</div>
{{ super() }}
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}
